.numbers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:2%
}
.numbers p{
    border: 2px solid black;
    width:7%;
    padding: 6%;
    font-size: 300%;
    margin: 0;
}